.symbolSorterChild {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.johnnyCash,
.june2023 {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
}
.johnnyCash {
  line-height: 150%;
  font-weight: 600;
  min-width: 101px;
  white-space: nowrap;
}
.june2023 {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  min-width: 69px;
}
.johnnyCashParent,
.symbolSorter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.symbolSorter {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.opacityOptimizer {
  height: 11px;
  position: relative;
  letter-spacing: 0.02em;
  display: flex;
  font-weight: 600;
  align-items: center;
  min-width: 25px;
}
.blendBuilderIcon {
  height: 16px;
  width: 16px;
  position: relative;
}
.imageImporter,
.rotationRotator {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rotationRotator {
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-10xs);
}
.imageImporter {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.michellesPlaceWas {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 160%;
}
.reviewcard {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-4xl);
  gap: var(--gap-xs);
  min-width: 350px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 450px) {
  .imageImporter {
    flex-wrap: wrap;
  }
}
